<!DOCTYPE html>
<html ng-app="fullstackerChoice">
<head>
	<title>Geolocation</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

  <link href="/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
  <link href="css/style.css" rel="stylesheet" />
  <script src="/js/map.js" defer></script>
	<script src="angular/angular.min.js"></script>
  <script src="angular-ui-router/release/angular-ui-router.js" defer></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBE0RQIjHa76wNZPhm6s6QqovzqLhSz6no&callback=initMap"
  defer></script>

  <script src="/js/app.js" defer></script>
  <script src="/js/controllers/image.controller.js" defer></script>
  <script src="/js/factories/Image.Factory.js" defer></script>
  <script src="/js/directives/fileModel.js" defer></script>
  <script src="/js/services/multipartForm.js" defer></script>
  <script src="/js/factories/direction.factory.js" defer></script>



  <style>
      html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 50%;
        width: 100%;
      }
      img {
        width: 100%;
      }
    </style>
</head>
<body>
	<!-- <a href = "#" id="get_location">Get location</a> -->
  <button type="button" class="btn btn-primary" id="get_location">Get location</button>
	<img id="clientImage">


  <div ng-controller="submitController">
  <form>
    <div class="form-group">
      <label for="name">Dish Name</label>
      <input type="text" class="form-control" id="name" placeholder="Enter name" ng-model="customer.dish" style="max-width:200px">
    </div>

    <div class="form-group">
      <label for="name">Food Ninja Name</label>
      <input type="text" class="form-control" id="name" placeholder="Enter name" ng-model="customer.name" style="max-width:200px">
    </div>

    <div class="form-group">
      <label for="Category">Food Category</label>
      <select ng-model="customer.category">
        <option value="American">American</option>
        <option value="Mexican">Mexican</option>
        <option value="Indian">Indian</option>
        <option value="Chinese">Chinese</option>
      </select>
    </div>

    <div class="form-group">
      <label for="score">Review Score</label>
      <select ng-model="customer.score" convert-to-number style="min-width:10%;margin-left:1%">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
      </select>
    </div>

    <div class="form-group">
      <label for="comment">Leave your Comment</label><br>
      <textarea ng-model="customer.comment" placeholder="Review Content" cols="50" rows="5"></textarea>
    </div>

    <div class="form-group">
      <label for="exampleInputFile">Avatar</label>
      <input type="file" class="form-control-file" id="exampleInputFile" file-model="customer.file" name="avatar">
    </div>
  
    <button type="submit" class="btn btn-primary" ng-click="Submit()">Submit</button>
  </form>
{{customer}}
asdfasdfdsafa
  </div>
  <div ng-controller=imageShowController>
    <img ng-src="{{image.url}}" ng-repeat="image in images" ng-click="showRoute()">
  </div>

	<div id="map"></div>


</body>
</html>
