<!DOCTYPE html>
<html ng-app="fullstackerChoice">
<head>
	<title>Geolocation</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

  <link href="/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" defer></script>
  <link href="css/style.css" rel="stylesheet" />
  <script src="/js/map.js" defer></script>
	<script src="angular/angular.min.js"></script>
  <script src="angular-ui-router/release/angular-ui-router.js" defer></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBE0RQIjHa76wNZPhm6s6QqovzqLhSz6no&callback=initMap"
  defer></script>

  <script src="/js/app.js" defer></script>
  <script src="/js/controllers/main.controller.js" defer></script>
  <script src="/js/controllers/image.controller.js" defer></script>
  <script src="/js/factories/Image.Factory.js" defer></script>
  <script src="/js/directives/fileModel.js" defer></script>
  <script src="/js/services/multipartForm.js" defer></script>
  <script src="/js/factories/direction.factory.js" defer></script>
</head>

<body>

<div id="background-overlay" ng-controller="mainPage">

  <div id="landing-page">
    <h1 style="margin:0;padding-top:10px">&ltfullstacker-menu&gt</h1>
  </div>

  <button type="button" class="btn btn-primary" id="get_location" style="float:right;margin-right:10px;">Get location</button>

  <button type="button" class="btn btn-primary" ng-click="uploadPanel()" style="margin-left:10px;">Upload</button>

  <div ng-controller="submitController" class="container animate-show" id="overlay" ng-show="showForm">
  <form>
    <div class="form-group">
      <label for="name">Dish Name</label>
      <input type="text" class="form-control" id="dishName" placeholder="Enter name" ng-model="customer.dish" style="max-width:200px">
    </div>

    <div class="form-group">
      <label for="name">Restaurant Name</label>
      <input type="text" class="form-control" id="personName" placeholder="Enter name" ng-model="customer.restaurant" style="max-width:200px">
    </div>

    <div class="form-group">
      <label for="Category">Food Category</label>
      <select ng-model="customer.category">
        <option value="American">American</option>
        <option value="Mexican">Mexican</option>
        <option value="Indian">Indian</option>
        <option value="Chinese">Chinese</option>
        <option value="Japenese">Japanese</option>
        <option value="Korean">Korean</option>
      </select>
    </div>

    <div class="form-group">
      <label for="score">Review Score</label>
      <select ng-model="customer.score" convert-to-number style="min-width:40px">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
      </select>
    </div>

    <div class="form-group">
      <label for="comment">Leave your Comment</label><br>
      <textarea ng-model="customer.comment" placeholder="Review Content" cols="50" rows="5"></textarea>
    </div>

    <div class="form-group">
      <label for="lag">lat(developer)</label>
      <input type="text" class="form-control" ng-model="customer.lat" style="max-width:200px">
      <label for="long">long(developer)</label>
      <input type="text" class="form-control" ng-model="customer.long" style="max-width:200px">
    </div>

    <div class="form-group">
      <label for="exampleInputFile">Avatar</label>
      <input type="file" class="form-control-file" id="exampleInputFile" file-model="customer.file" name="avatar">
    </div>
  
    <button type="submit" class="btn btn-primary" ng-click="Submit()">Submit</button>
  </form>

  </div>
  <div ng-controller=imageShowController class="container">
    <div class="row" id="foodGallery-container">
      <div ng-repeat="image in images" id="foodGallery">
      <a class="hovertext" href="#" title="Dish:&nbsp{{image.dish}};  Restaurant:&nbsp{{image.restaurant}}">
        <img ng-src="{{image.url}}" ng-click="showRoute(image)">
 <!--        <div class="info" ng-show="true">
          <span>Dish:&nbsp{{image.dish}}</span><br>
          <span>Restaurant:&nbsp{{image.restaurant}}</span><br>
          <span>Score:&nbsp{{image.score}}</span>
          <span>Comment:&nbsp{{image.comment}}</span>
          <span>Going&nbsp{{image.wentCount}}people<button type="button" class="btn btn-primary" ng-click="increment(image)">+
          </button>
          </span>

        </div> -->
        </a>
      </div>
    </div>
  </div>

<!-- <div class="container">
  <div class="row"> -->
	 <div id="map" class="col-xs-12"></div>
<!--   </div>
</div> -->
</div>
</body>
</html>
