<!DOCTYPE html>
<html>
    <head>
        <title>Flash Cards</title>
        <!-- We've provided some styles for you, aren't we nice? -->
        <link rel="stylesheet" type="text/css" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>
    <body ng-app="flashCards" ng-controller="MainController">
        <div
            ng-repeat="flashCard in flashCards | orderBy : 'question'"
            class="flash-card">
            <h1>{{ flashCard.question | uppercase }}</h1>
            <ul class="flash-card-answers">
                <li
                    ng-repeat="answer in flashCard.answers"
                    class="flash-card-answer"
                    ng-click="answerQuestion(answer, flashCard)">{{ answer.text }}</li>
            </ul>
            <h2
                class="answer-feedback"
                ng-class="flashCard.answeredCorrectly ? 'correct' : 'incorrect'"
                ng-show="flashCard.answered">
                <span ng-show="flashCard.answeredCorrectly">Yeah, you got it right!</span>
                <span ng-show="!flashCard.answeredCorrectly">Nope, you got it wrong.</span>
            </h2>
        </div>
        <script src="angular.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/main.controller.js"></script>
    </body>
</html>
