<!DOCTYPE html>
<html>
    <head>
        <title>Flash Cards</title>
        <link rel="stylesheet" type="text/css" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <!-- Library -->
        <script src="js/lib/angular.js"></script>
        <!-- Main application file -->
        <script src="js/app.js"></script>
        <!-- Controllers -->
        <script src="js/controllers/FlashCardController.js"></script>
        <script src="js/controllers/MainController.js"></script>
        <script src="js/controllers/StatsController.js"></script>
        <!-- Factories -->
        <script src="js/factories/FlashCardsFactory.js"></script>
        <script src="js/factories/ScoreFactory.js"></script>
    </head>

    <body>

        <div ng-app="FlashCards">

            <div ng-controller="StatsController" id="statistics">

                <div id="scoreboard">
                    <h3>Correct: <span>{{ scores.correct }}</span></h3>
                    <h3>Incorrect: <span>{{ scores.incorrect }}</span></h3>
                </div>

            </div>

            <div ng-controller="MainController">

                <button ng-class="{ active: !currentCategory }" ng-click="resetCategory()" class="category-button">
                    All Categories
                </button>

                <button ng-class="{ active: currentCategory === category }" ng-click="getCategoryCards(category)" ng-repeat="category in categories" class="category-button">
                    {{ category }}
                </button>

                <div ng-repeat="flashCard in flashCards | orderBy:'question'" ng-controller="FlashCardController" class="flash-card">
                    <h1>{{ flashCard.question | uppercase }}</h1>
                    <h3>{{ flashCard.category }}</h3>
                    <ul class="flash-card-answers">
                        <li class="flash-card-answer"
                            ng-click="answerQuestion(answer)"
                            ng-repeat="answer in flashCard.answers">
                            {{ answer.text }}
                        </li>
                    </ul>
                    <h2 class="answer-feedback"
                        ng-class="{ correct: answeredCorrectly, incorrect: !answeredCorrectly }"
                        ng-show="answered">
                        <span ng-show="answeredCorrectly">Yeah, you got it right!</span>
                        <span ng-show="!answeredCorrectly">Nope, you got it wrong.</span>
                    </h2>
                </div>

            </div>
            
        </div>

    </body>

</html>